body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; /* Importante para posicionar corretamente o pseudo-elemento */
  background-image: url('https://wallpapercave.com/wp/wp11646841.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Herda a imagem de fundo do body */
  background-size: cover;
  background-position: inherit;
  background-repeat: inherit;
  filter: blur(0.75rem); /* Ajuste o valor para o nível de desfoque desejado */
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do body */
}

.container {
  border: 1px solid #999;
  color: #c9c9da;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #40252591;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: all ease .2s;
  max-width: 600px;
  width: 100%;
  margin: 20px;
}

/* Estilos para caixas de entrada de texto */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #3e242480;
  color: #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra ao focar */
}

/* Estilo quando o input está em foco */
input:focus {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  outline: none; /* Remove a borda de foco padrão */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Sombra ao focar */
}

/* Estilo para o dropdown do select */
select::-ms-expand {
  display: none; /* Esconde o ícone de dropdown no Internet Explorer */
  background-color: #3e2424;
}

select {
  /* Estilos gerais do select */
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #ccc;
  text-align-last: center;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #3e242480;
  appearance: none; /* Remove o estilo padrão do sistema operacional */
  cursor: pointer; /* Altera o cursor ao passar o mouse */
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

/* Estilo para a lista suspensa das opções */
select option {
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #3e242480;
  color: #ccc;
}


/* Estilo quando o mouse passa por cima de uma opção */
select option:hover {
  background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  color: #000; /* Cor do texto ao passar o mouse */
}

/* Estilo quando o select está em foco */
select:focus {
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #3e2424;
  outline: none; /* Remove a borda de foco padrão */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra ao focar */
}

/* Estilo para o dropdown aberto */
select:focus option:checked {
  background-color: #07101a94; /* Cor de fundo das opções selecionadas ao focar */
  color: #fff; /* Cor do texto das opções selecionadas ao focar */
}


.tabs, .subtabs {
  display: flex;
  cursor: pointer;
  color: #a18484;
  background-color: #40252591;  
  margin-bottom: 10px;
}

.tab, .subtab {
  flex: 1;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
  padding: 10px;
  background-color: #b3909090;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #40252591;
  transition: all ease .2s;
  max-width: 350px;
}

.tab.active, .subtab.active {
  background-color: #a67676b8;
  color: #3e2424;
  border-bottom: none;
}

.content, .subcontent {
  border: 1px solid #cabdbd6b;
  text-align: center;
  padding: 20px;
  display: none;
}

.content.active, .subcontent.active {
  display: block;
}

.status-info {
  display: block;
  justify-content: space-between;
}

.status-column {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.status-item {
  margin-bottom: 10px;
}

.status-info2 {
  display: flex;
  justify-content: space-between;
}

.status-column2 {
  flex: 1;
  text-align: center;
  padding: 10px;
}

button {
  margin: 5px 5px;
  color: #3e2424;
  background-color: #b3909090;
  border: 1px solid #ebe0e0;
  border-radius: 0.5rem;
  padding: 10px 20px;
}

#status-info, #dano-total {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.status-pericias {
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #40252591;
  padding: 10px;
  border-radius: 0.5rem;
  margin-top: 20px;
}

.collapsible {
  cursor: pointer;
}
.content-collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.content-expanded {
  max-height: 500px; /* Ajuste conforme necessário */
  transition: max-height 0.12s ease-in;
}

.status-bar {
  position: relative;
  height: 20px;
  background-color: #cccccc06;
  border-radius: 5px;
  overflow: hidden;
}
.status-bar-fill {
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #40252591;
  border-radius: 5px;
  transition: width 0.3s ease;
}
.status-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-column3 {
  margin: 20px 0;
}

.atributos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.atributo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #40252591;
}

.atributo-item label {
  margin-bottom: 5px;
  font-weight: bold;
}

.atributo-item span {
  display: block;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.222);
  background-color: #40252591;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.navbar {
  background-color: #4CAF50; /* Defina a cor de fundo desejada */
  color: white; /* Cor do texto */
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


.titleBar {
  -webkit-app-region: drag;
  background-color: #40252591; /* Cor de fundo da barra de título */
  color: #ccc; /* Cor do texto */
  text-align-last: 10px;
  text-align: 10px;
  vertical-align: 10px;
  height: 30px; /* Altura da barra de título */
  width: 100%; /* Largura total */
  position: fixed; /* Fixa a barra de título no topo */
  top: 0; /* Alinha no topo do body */
  left: 0; /* Alinha à esquerda do body */
  z-index: 1000; /* Coloca a barra de título acima de outros elementos */
  display: flex; /* Usa flexbox para alinhar o conteúdo */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  align-items: center; /* Centraliza verticalmente */
  padding-left: 10px; /* Espaçamento à esquerda */
}

/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  background-color: #40252591; /* Cor de fundo da barra de título */
}

/* Track (parte de fundo da barra de rolagem) */
::-webkit-scrollbar-track {
  background-color: #40252591; /* Cor de fundo da barra de título */
}

/* Thumb (parte deslizante da barra de rolagem) */
::-webkit-scrollbar-thumb {
  background-color: #40252591; /* Cor de fundo da barra de título */
  border-radius: 4px; /* Borda arredondada do thumb */
}

/* Hover state do thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.553)52591; /* Cor de fundo da barra de título */
}
